spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mydb?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${mail.username}
    password: ${mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379
# JPA Setting
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update # <- Not Remove Tables
    properties:
      hibernate:
        format_sql: true
        show_sql: true

# Import yaml
  config:
    import: "application-secret.yaml"

# Port Setting
server:
  port: 8080
  address: 0.0.0.0

jwt:
  expiration_time: 86400000 #1ì¼
  secret: ${jwt.secret}
